@font-face {
    font-family: Patung;
    src: url('/support/Patung.otf');
}

h1 {
    font-family: Patung;
    text-align: center;
    font-size: 4rem;
    margin-bottom: 1rem;
}

html {
    background-color: #F3BA2F;
}

#lang-selector {
    float: right;
}

#globe {
    height: 1.5rem;
    width: auto;
    cursor: pointer;
}

#lang-selector:hover #languages,
#lang-selector:active #languages {
    opacity: 1;
    pointer-events: initial;
}

#languages {
    padding-top: .5rem;
    display: flex;
    flex-direction: column;
    gap: .2rem;
    max-height: 200px;
    overflow-y: auto;
    transition: opacity .4s;
    pointer-events: none;
    opacity: 0;
}

#support-methods {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
    align-items: stretch;
}

.support-method {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    border: 1px solid transparent;
    border-left-color: currentColor;
    border-bottom-color: currentColor;
    padding-left: .5rem;
    padding-bottom: .5rem;
}

.tab {
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: start;
    align-items: start;
}

.tab>h3,
.tab>p {
    margin: 0;
    line-height: 1.2em;
}